<header class="main-header">
    <nav class="main-nav">
        <div class="navbar-left">
            <h2 class="logo"><a href="/">The Jewelry Galery</a></h2>
        </div>
        <div class="navbar-center">
            <form action="/posts/resultadoBusqueda" class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" class="search-input" name="q" placeholder="Buscar...">
                <div class="filtros">
                    <label for="filtros">Filtrar por:</label>
                    <label for="posteos">posteos
                        <input type="radio" name="filtro" value="posteos" checked>
                    </label>
                    <label for="usuarios">usuarios
                        <input type="radio" name="filtro" value="usuarios">
                    </label>
                    <label for="ordenar">Ordenar ASC <input type="checkbox" name="ordenar" value="ASC"></label>
                </div>
            </form>
        </div>
        <div class="navbar-right">
            <ul class="menu">
                <li><a href="/users/registracion">Registro</a></li>
                <li><a href="/users/Login">Login</a></li>
                <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
                <li><i class="fa-solid fa-arrow-right-from-bracket"></i></li>
            </ul>
        </div>
    </nav>
</header>