<!DOCTYPE html>
<html lang="en">

	<%- include('./partials/head')%>

<body>
    <% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogueado')%>
        <% } else { %> 
            <%- include('./partials/header')%>
            <% } %>

    <main>
        <!-- Formulario de registro -->

        <section class="center main-content">
        <h1>Login</h1>

        <form action="/users/miPerfil" method="POST">
            <div>
                <label for="email"> Email</label>
                <input type="email" name="email" placeholder="Inserte su email">
            </div>
            <div>
                <label for="password"> Contraseña</label>
                <input type="password" name="password">
            </div>
            <button type="submit"> Logueate </button>
            <div>
                <input id="recordarme" class="recordarme" type="checkbox" name="rememberme" />
                <label class="recordarmeLabel" for="Recordarme">recordarme</label>
            </div>
        </form>
        </section>
    </main>

    <%- include('./partials/footer')%>
</body>

</html>